<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>MercadoLiebre</title>
  </head>
  <body>
    <header>
      <div class="header-logo-barra-oracion">
        <div class="header-logo-barra">
          <img
            class="logo"
            src="/images/logo-mercado-liebre.svg"
            alt="logo"
            width="50%"
          />

          <form class="barra-busqueda">
            <input type="search" placeholder="Buscar productos, marcas " />
          </form>
        </div>
        <p class="oracion">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <div class="nav">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register">Creá tu cuenta</a>
            <i class="far fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a>
            <i class="fas fa-sign-in-alt"></i>
          </li>
          <li>
            <a href="#">Mis compras</a>
            <i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </div>
      <div class="burger-menu">
        <button class="boton-menu">
          <i class="fas fa-bars icono-menu"></i>
        </button>
      </div>
      <div class="banner">
        <img
          src="/images/img-home-banner.jpg"
          alt="publicidad"
          width="100%"
          class="banner-img"
        />
      </div>
    </header>
    <main>
      <h2 class="titular">Basado en tu última visita</h2>
      <section>
        <div class="articulo">
          <div class="articulo-img">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="imagen de una cafetera"
              width="60%"
              class="cafe"
            />
          </div>
          <div class="articulo-txt-container">
            <div class="articulo-txt-content">
              <i class="fas fa-truck articulo-logo"></i>
              <div class="articulo-precio-descuento">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
              </div>
              <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
          </div>
        </div>
        <div class="articulo">
          <div class="articulo-img">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt="imagen de una MacBook"
              width="60%"
            />
          </div>
          <div class="articulo-txt-container">
            <div class="articulo-txt-content">
              <i class="fas fa-truck articulo-logo"></i>
              <div class="articulo-precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
              </div>
              <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
          </div>
        </div>
        <div class="articulo">
          <div class="articulo-img">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="imagen del Samsung Galaxy"
              width="60%"
            />
          </div>
          <div class="articulo-txt-container">
            <div class="articulo-txt-content">
              <i class="fas fa-truck articulo-logo"></i>
              <div class="articulo-precio-descuento">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
              </div>
              <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
          </div>
        </div>
        <div class="articulo">
          <div class="articulo-img">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              alt="imagen del SmartTv"
              width="60%"
            />
          </div>
          <div class="articulo-txt-container">
            <div class="articulo-txt-content">
              <i class="fas fa-truck articulo-logo"></i>
              <div class="articulo-precio-descuento">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
              </div>
              <h3 class="descripcion">SmartTv Samsung 43"</h3>
            </div>
          </div>
        </div>
      </section>
      <h2 class="titular">Ofertas</h2>
      <section>
        <div class="articulo">
          <div class="articulo-img">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="imagen de una cafetera"
              width="60%"
            />
          </div>
          <div class="articulo-txt-container">
            <div class="articulo-txt-content">
              <i class="fas fa-truck articulo-logo"></i>
              <div class="articulo-precio-descuento">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
              </div>
              <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
          </div>
        </div>
        <div class="articulo">
          <div class="articulo-img">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt="imagen de una MacBook"
              width="60%"
            />
          </div>
          <div class="articulo-txt-container">
            <div class="articulo-txt-content">
              <i class="fas fa-truck articulo-logo"></i>
              <div class="articulo-precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
              </div>
              <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
          </div>
        </div>
        <div class="articulo">
          <div class="articulo-img">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="imagen del Samsung Galaxy"
              width="60%"
            />
          </div>
          <div class="articulo-txt-container">
            <div class="articulo-txt-content">
              <i class="fas fa-truck articulo-logo"></i>
              <div class="articulo-precio-descuento">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
              </div>
              <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
          </div>
        </div>
        <div class="articulo">
          <div class="articulo-img">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              alt="imagen del SmartTv"
              width="60%"
            />
          </div>
          <div class="articulo-txt-container">
            <div class="articulo-txt-content">
              <i class="fas fa-truck articulo-logo"></i>
              <div class="articulo-precio-descuento">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
              </div>
              <h3 class="descripcion">SmartTv Samsung 43"</h3>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="parte-footer">
        <i class="fas fa-credit-card icono-footer"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="parte-footer">
        <i class="fas fa-gift icono-footer"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="parte-footer">
        <i class="fas fa-user-shield icono-footer"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <div>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
