/*///////////////*/
/*/ /// GENERALES ///*/
/*///////////////*/

body {
  background-color: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*///////////////*/
/*/ /// HEADER ///*/
/*///////////////*/

header {
  background-color: #eac926;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
}

.header-logo-barra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 10px auto 15px 25px;
  width: 45%;
}

.barra-busqueda {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 45%;
}

.barra-busqueda input {
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.barra-busqueda input::placeholder {
  font-size: 16px;
}

.oracion {
  text-align: center;
  margin-bottom: 20px;
}

.nav {
  display: none;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.burger-menu {
  text-align: center;
  margin-top: 30px;
}

.boton-menu {
  background-color: rgb(0, 26, 255);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.icono-menu {
  color: white;
  font-size: 20px;
}

/*/ //////////////*/
/*//// FORM ///*/
/*/ //////////////*/

main form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 50px auto;
}

main form input {
  height: 30px;
  border-radius: 5px;
  border: none;
}

.field {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.field-title {
  font-size: 25px;
  font-weight: bold;

  margin-bottom: 20px;
}

.input-radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.intereses-inputs {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.intereses-input {
  height: 15px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button-submit {
  font-size: 20px;
  background-color: #1259c3;
  font-weight: bold;
  color: white;
  border-radius: 5px;

  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-reset {
  font-size: 20px;
  background-color: #666;
  font-weight: bold;
  color: white;
  border-radius: 5px;

  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*///////////////////*/
/*FOOTER*/
/*///////////////////*/

footer {
  background-color: white;
  text-align: center;
  padding: 20px 50px 10px 50px;
  margin-top: 50px;
}

footer div h4 {
  margin-bottom: 0px;
}

footer div p {
  margin-top: 0px;
}

.copy {
  margin-top: 30px;
  text-align: left;
  margin-left: -30px;
}

.icono-footer {
  font-size: 2em;
  color: rgb(0, 26, 255);
}

.parte-footer {
  margin-bottom: 10px;
}

/*///////////////////*/
/*MEDIA QUERIES*/
/*///////////////////*/

@media (min-width: 481px) {
  .nav {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  main form {
    width: 80%;
  }
}

@media (min-width: 769px) {
  .header-logo-barra-oracion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .header-logo-barra {
    width: 60%;
  }

  .oracion {
    width: 30%;
    margin-bottom: 0;
  }

  .nav {
    display: flex;
    justify-content: space-around;
  }

  ul {
    display: flex;
    gap: 30px;
  }

  main form {
    width: 600px;
  }
}
